# Node dependencies
node_modules/

# TypeScript output
dist/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# MacOS / Windows system files
.DS_Store
Thumbs.db

# IDE / editor settings
.vscode/
.idea/

# Optional: temp files
*.tmp
*.swp

/src/generated/prisma
